.card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card-list > li {
  flex-grow: 1;
  flex-basis: 8rem;
  background-color: #DEF4C6;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.card-list > li a {
  background-color: #1B512D;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  margin: 0.5rem;
  padding: 0.5rem;
  display: inline-block;
  box-shadow: 0.25rem 0.25rem #73E2A7;
}

.card-list > li a:hover {
  background-color: #1C7C54;
}
