.colors {
  color: #1C7C54;
  color: #73E2A7;
  color: #DEF4C6;
  color: #1B512D;
  color: #B1CF5F;
}


.header {
  background-color: #DEF4C6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
}
.header img {
  height: 4rem;
  width: auto;
}

.header h1 {
  display: none;
}
@media screen and (min-width: 40em) {

  .header h1 {
    display: unset;
  }
}

.command-link {
  color: blue;
}


nav {
  background-color: #1B512D;
}

nav > * {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin: 0.5rem;
  display: inline-block;
}

.main-content {
  padding: 0.5em;
}
