<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="header">
    <a routerLink="/">
      <img src="../assets/shift-schedule-logo.png" alt=""/>
    </a>
    <h1>
      The professional shift scheduler for your team
    </h1>
    <span class="command-link"
          *ngIf="!user"
          (click)="socialSignIn('google')">Login</span>
    <span class="command-link"
          *ngIf="user"
          (click)="socialSignOut()">Logout</span>
  </div>
  <nav >
    <p *ngIf="!user">To proceed, please log in.</p>
    <a *ngIf="user" routerLink="/teams">Teams</a>
  </nav>
  <div class="main-content">
    <router-outlet *ngIf="user"></router-outlet>
  </div>
</div>
